@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #0a2ff1;
}

#container {
  height: 95vh;
  text-align: center;
  font-family: "Montserrat";
}
.similar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* DIV CONTENEDORES  */

#container div:nth-child(1) {
  margin-top: 2.5%;
  height: 15%;
  background-color: white;
  justify-content: initial;
}
#container div:nth-child(2) {
  background-color: black;
  color: white;
  height: 17.5%;
}
#container div:nth-child(3) {
  height: 42.5%;
  background-color: white;
}
#container div:nth-child(4) {
  height: 7.5%;
  background-color: white;
}

#container div:nth-child(5) {
  height: 10%;
  background-color: white;
  justify-content: end;
}

/* PARRAFOS DE CADA DIV */
#container div:nth-child(1) p {
  margin: 0;
  font-size: 66.66666666666666px;
  font-weight: bold;
  color: #0a2ff1;
}
#container div:nth-child(2) p {
  font-weight: bold;
  margin: 0;
  font-size: 197.33333333333331px;
}
#container div:nth-child(3) p {
  font-weight: bold;

  margin: 0;
  font-size: 217.33333333333331px;
}
#container div:nth-child(4) p {
  color: #0a2ff1;

  margin: 0;
  font-size: 48px;
}

#container div:nth-child(5) p {
  color: #0a2ff1;
  margin: 0;
  font-size: 58.666666666666664px;
}

/* ACA TOMO LOS 2 PRIMEROS STRONGS DEL DOCUMENTO HTML */

p strong:nth-of-type(1) {
  font-size: 48px;
  color: #0a2ff1;
}
p strong:nth-of-type(2) {
  background-color: black;
  color: white;
}
